/* src/components/Pagination.css */
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.pagination button {
  padding: 8px 14px;
  border: none;
  background-color: #eee;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.pagination button.active {
  background-color: maroon;
  color: white;
}

.pagination button:hover {
  background-color: #ccc;
}