
.filter-bar .filter-input {
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.filter-location-bar {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  /* width: 250px; */
  height: 42px;
}

.filter-date-bar {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  /* width: 250px; */
  height: 42px;
}

.filter-title-bar {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  /* width: 250px; */
  height: 42px;
}

.filter-city-bar {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 250px;
  height: 42px;
}

.filter-bar button {
  padding: 12px 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  width: 200px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-bar button:hover {
  background-color: var(--btn-color);
  color: black;
  font-weight: bold;
}