.nav-logo img {
    height: 55px;
    width: auto;
    padding: 0;
    margin: -4px 0;
}

.nav-bar{
    font-family: var(--primary-font);
    font-size: 17px;
    background-color: var(--primary-color);
    font-weight: 600;
    gap: 5em;
}

.nav-bar a:hover{
    color: var(--btn-color);
    text-decoration: none;
}

.nav-bar.transparent{
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}