:root {
  --primary-color: #661F19;
  --btn-color: #FED800;
  --secondary-color: #373333;
  --primary-font: 'Poppins', sans-serif;
}

.container {
  width: 93%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Poppins' , sans-serif;
}

.pade-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

font{
  font-family: 'Poppins' , sans-serif;
}

.booking-btn{
  background-color: var(--primary-color)
}

.showDetails-card{
  background-color: rgba(117, 117, 117, 0.15);
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    gap: 10px !important;
  }
  .search-input,
  .search-text{
    width: 100%;
  }
  .search-button{
    width: 100%;
    border-radius: 5px;
  }
}